<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/homeStyle.css}" />
    <title>Blog - List of Posts</title>
</head>
<body>

<header>
<div>
    <h1>My Blog Application</h1>
    <h3 th:if="${#authorization.expression('isAuthenticated()')}"
        th:text="'Welcome, ' + ${#authentication.principal.username}"></h3>
</div>
    <form th:action="@{/}" method="get" id="search-form">
        <input type="text" name="search" placeholder="Search...">
        <button type="submit">Search</button>
    </form><br>
    <a th:href="@{/showForm}">
        <button>Create new Post</button>
    </a><br><br>
    <a th:href="@{/}">
        <button>Default View</button>
    </a><br><br>
    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </th:block>
    <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
        <form th:action="@{/showMyLoginPage}" method="get">
            <input type="submit" value="Login">
        </form>
    </th:block>
</header>
<div>
    <form th:action="@{/( sortOrder = ${sortOrder})}" method="get">
        Sort by Date :
        <select name="sortOrder">
            <option th:value="asc">Ascending</option>
            <option th:value="desc">Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <form th:action="@{/filter}" method="post">
        <label for="author">Filter by Author:</label>
        <select id="author" name="author" multiple>
            <th:block th:each="author : ${allAuthor}">
                <option name="author" th:text="${author}"></option>
            </th:block>
        </select>

        <label for="tags">Filter by Tags:</label>
        <select id="tags" name="tags" multiple>

            <th:block th:each="tags : ${allTags}">
                <option name="tags" th:text="${tags.name}"></option>
            </th:block>
        </select>

        <button id="filter" type="submit">Filter</button>
    </form>
</div>
<main>
    <section class="blog-list">
        <article th:each="posts : ${post}">
            <h2 th:text="${posts.title}"></h2>
            <h4 th:text="'By : '+${posts.author}"></h4>
            <p th:text="${posts.createdAt}"></p><br>
            <p class="excerpt" th:text="${posts.excerpt}"></p><br><br>
            <a th:href="@{/viewPost/{id}(id=${posts.id})}">Read More</a>
        </article>
    </section>
    <div th:if="${post.totalPages > 1}">
        <ul class="pagination">
            <li th:if="${post.hasPrevious()}" class="page-item">
                <a class="page-link" th:href="@{/(page=${post.number - 1},size=${post.size},sortOrder=${sortOrder})}">Previous</a>
            </li>
            <li th:if="${post.hasNext()}" class="page-item">
                <a class="page-link" th:href="@{/(page=${post.number + 1},size=${post.size},sortOrder=${sortOrder})}">Next</a>
            </li>
        </ul>
    </div>
</main>

</body>
</html>
