<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{homeStyle.css}" />
    <title>Blog - List of Posts</title>
</head>
<body>

<header>
    <h1>My Blog Application</h1><br><br>
    <a th:href="@{/showForm}">
        <button>Create new Post</button>
    </a><br><br>
    <form th:action="@{/}" method="get">
        <input type="text" name="search" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    <form th:action="@{/{toggle}( toggle = ${toggle})}" method="get">
        <input type="hidden" name = "toggle" value = "toggle">
        <button>Sort(new to old)</button>
    </form>

    <br>
    <a th:href="@{/}">
        <button>Sort(old to new)</button>
    </a><br><br>
</header>
<main>
    <section class="blog-list">
        <article th:each="posts : ${post}">
            <h2 th:text="${posts.title}"></h2>
            <p class="excerpt" th:text="${posts.excerpt}"></p>
            <a th:href="@{/viewPost/{id}(id=${posts.id})}">Read More</a>
        </article>
    </section>
    <div th:if="${post.totalPages > 1}">
        <ul class="pagination">
            <li th:if="${post.hasPrevious()}" class="page-item">
                <a class="page-link" th:href="@{/(page=${post.number - 1},size=${post.size})}">Previous</a>
            </li>
            <li th:if="${post.hasNext()}" class="page-item">
                <a class="page-link" th:href="@{/(page=${post.number + 1},size=${post.size})}">Next</a>
            </li>
        </ul>
    </div>
</main>

</body>
</html>
