<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/loginStyle.css}" />
    <title>Login Page</title>
</head>
<body>
<header>
    <h1>My Blog Application</h1>
</header>


<form th:action="@{/authenticateTheUser}" method="post">
    <h2>Login</h2>
    <div th:if="${param.error}">
        <i>Sorry! invalid  username/passward</i>
    </div>
    <div th:if="${param.logout}">
        <i>You are logged out of the session</i>
    </div><br><br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">Login</button>
</form>
<p>Already have an account? <a th:href="@{/showMySignUpPage}">Create User</a></p>

</body>
</html>
