<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/viewPostStyle.css}" />
    <title>Blog - Single Post</title>
</head>
<body>

<header>
    <h1>My Blog Application</h1>
    <a th:href="@{/showForm}">Create new Post</a><br>
    <a th:href="@{/}">Back to List</a><br><br>
</header>

<main>
    <article class="single-post">
        <h2 th:text="${post.title}"></h2>
        <h4 th:text="'By : '+${post.author}"></h4>
        <p class="excerpt" th:text="${post.excerpt}"></p>
        <p class="tags">
            Tags:
            <span th:each="tag, tagStatus : ${post.tags}" th:text="${tag.name}+','"  >
    </span>
        </p>
        <p class="content" th:text="${post.content}"></p>
    </article>
    <form th:action="@{/editPost/{id}(id=${post.id})}" method="post">
        Edit the Post:-
        <button type="submit">Edit</button>
    </form><br>
    <form th:action="@{/deletePost/{id}(id=${post.id})}" method="post">
        Delete the Post:-
        <button type="submit">Delete</button>
    </form><br><br>
    <section>
        <form th:action="@{/saveComment}" method="post" th:object="${comments}">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" required><br><br>

            <label for="comment">Comment:</label><br><br>
            <textarea id="comment" name="comment" rows="6" th:field="*{comment}" required></textarea><br><br>

            <input type="hidden" th:name="post_id" th:value="${post.id}">
            <button type="submit">Comment</button><br>

        </form>
    </section>
    <section >
        <article th:each="comments : ${comment}">
            <h2 th:if="${comments.post_id == post.id}" th:text="${comments.name}"></h2>
            <p class="excerpt" th:if="${comments.post_id == post.id}" th:text="${comments.email}"></p>
            <p th:if="${comments.post_id == post.id}" th:text="${comments.comment}"></p>
            <form th:if="${comments.post_id == post.id}" th:action="@{/editComment/{id}(id=${comments.id})}" method="post">
                Edit the Comment:-
                <button type="submit">Edit</button>
            </form><br>
            <form th:if="${comments.post_id == post.id}" th:action="@{/deleteComment/{id}(id=${comments.id})}" method="post">
                Delete the Comment:-
                <button type="submit">Delete</button>
            </form>
        </article>
    </section>

</main>

</body>
</html>
